<form class="text-white p-1">
     <span class="text-danger" id="response_request"></span>
    <h3>Sign Up</h3>
    <div class="mb-3">
        <label for="userName" class="form-label">User Name </label>
        <input type="text" class="form-control" id="userName"
            onchange="InputOnChange(this)"
            aria-describedby="emailHelp" name="username">
        <div id="username_error" class="form-text text-danger"></div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email"
            onchange="InputOnChange(this)"
            aria-describedby="emailHelp">
        <div id="email_error" class="form-text text-danger"></div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Email address</label>
        <input type="password" class="form-control" name="password"
            id="password"
            onchange="InputOnChange(this)"
            aria-describedby="emailHelp">
        <div id="password_error" class="form-text text-danger"></div>
    </div>

    <button type="button" onclick="OnSubmit(this)"
        class="btn btn-primary">Submit</button>
</form>