<form class="text-white p-1">
<h3>Sign Up</h3>
    <div class="mb-3">
        <label for="userName" class="form-label">User Name </label>
        <input type="text" class="form-control" id="userName"
            aria-describedby="emailHelp">
        <div id="userName_error" class="form-text">We'll never share your email
            with
            anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email"
            aria-describedby="emailHelp">
        <div id="email_error" class="form-text">We'll never share your email
            with
            anyone else.</div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Email address</label>
        <input type="password" class="form-control" id="password"
            aria-describedby="emailHelp">
        <div id="password_error" class="form-text">We'll never share your email
            with
            anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <select class="form-select">
            <option value="option1">option1</option>
            <option value="option2">option2</option>

        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>