<div class="row col-md-12 d-flex justify-content-end my-3">
    {{#if token}}

    <div class="col-md-3">
        {{> add}}
    </div>
    {{/if}}
</div>

<div class="row col-md-12 m-auto d-flex justify-content-center renderBurgers">

    {{#if burgers}}
    <div class="col-md-1">

        <span class="badge bg-secondary">Favorit Count: <b class="favCount">
                {{favCount}}</b></span>
    </div>
    {{#each burgers}}

    {{> burgerTemp this FavPage=false }}
    {{/each}}

    {{else}}
    <div class="col-md-12 text-center text-white-50 noData">

        No Data
    </div>
    {{/if}}
</div>
