<div class="row col-md-12 m-auto d-flex justify-content-center renderBurgers">
    {{#if searchResults}}

    {{#each searchResults}}
    {{> burgerTemp . FavPage=false }}
    {{/each}}
    {{else}}
    <p class="text-center fs-4 alert alert-secondary">No results found on " {{SearchTerm}} "</p>

    {{/if}}
</div>
